
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="alert alert-danger">Kategori Sayısı = @ViewBag.categoryCount</div>
<div class="alert alert-danger">Proje Sayısı = @ViewBag.projectCount</div>
<div class="alert alert-danger">Yetenek Sayısı = @ViewBag.skillCount</div>
<div class="alert alert-danger">Ortalama Yetenek Puanı = @ViewBag.skillAvgValue</div>
<div class="alert alert-danger">Hakkında Sayısı = @ViewBag.AboutCount</div>
<div class="alert alert-danger">Son Eklenen Yetenek = @ViewBag.lastSkillTitleName</div>
<div class="alert alert-danger">Asp .Net MVC Proje Sayısı = @ViewBag.mvcCategoryProjectCount</div>
<div class="alert alert-danger">Referans Sayısı = @ViewBag.TestimonialCount</div>
<div class="alert alert-danger">Servis Sayısı = @ViewBag.ServiceCount</div>
<div class="alert alert-danger">Özellik Sayısı = @ViewBag.FeatureCount</div>









